$black_color: #A79665;
$break-small: 999px;

* {
  cursor: none;
}

.custom-cursor span{
  background: $black_color;
  border-radius: 100%;
  display: block;
  overflow: visible;
  pointer-events: none;
  position: fixed;

  &:nth-child(1) {
    width: 12px;
    height: 12px;
    text-align: center;
    z-index: 11;
  }

  &:nth-child(2) {
    width: 12px;
    height: 12px;
    overflow: hidden;
    opacity: .22;
    z-index: 10;
    transition: transform .25s ease-in-out;
  }

  @media only screen and (max-width: $break-small) {
    display: none;
  }
}
