
* {
    cursor: none
  }

    .custom-cursor {
        position: fixed;
        left: 0;
        top: 0;
        pointer-events: none;
        border-radius: 50%; 
    }

    .custom-cursor span {
        border-radius: 50%;
        display: block;
        overflow: visible;
        pointer-events: none;
        position: fixed
    }

    #cfollow {
      width: 30px;
      height: 30px;
      border: 1px solid #cd2653;
      z-index: 12000;
      opacity: 0.4;
    }

    #cmain {
      width: 5px;
      height: 5px;
      z-index: 11000;
      background: black;
    }